<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-md-push-8">
            <div class="row">
                <div class="col-sm-6 col-md-12" >
                    <paziente-panel></paziente-panel>
                </div>
                <div class="col-sm-6 col-md-12" >
                    <esenzioni-panel></esenzioni-panel>
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-md-8 col-md-pull-4" ui-view>
            <visita-list-panel></visita-list-panel>
        </div>


    </div>
</div>



